<template>
  <div class="res-card">

    <div class="res-card__header">
      <div class="res-card__header-title"> {{ cardTitle }} </div>
    </div>

    <div class="res-card__body">
      <ul class="res-card__list">
        <li v-for="(item, index) in cardResultList" :key="index" class="res-card__list-item">
          <span class="res-card__list-item__label"> {{ item.label }}: </span>
          <span class="res-card__list-item__value"> {{ item.data }} </span>
        </li>
      </ul>
    </div>

    <div class="res-card__footer"></div>

  </div>
</template>

<script>
export default {
  name: 'ResultCard',

  props: {
    result: Object
  },

  data () {
    return {
      cardTitle: this.result.make + ' ' + this.result.model,
      cardIntro: '',
      cardResultList: [
        {
          label: 'Vehicle colour',
          data: this.result.colour
        },
        {
          label: 'Last MOT Expiring Date',
          data: this.result.motExpDate
        },
        {
          label: 'N° of failed tests',
          data: this.result.nFailedTests,
        }
      ]
    }
  },

  methods: {
    resCard() {

    }
  }
}
</script>

<style scoped lang="scss">
.res-card {
  background-color: $white;
  border-radius: px2rem(20);
  margin-top: 1rem;
  color: $grey-400;
  font-weight: bold;
  text-align:left;
  padding: 2rem 5%;

  &__header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: block;
    border-bottom: px2rem(3) dotted $primary;
    font-size: 1.1rem;
    color: $grey-800;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      margin-bottom: 0.4rem;
      display: flex;
      gap: px2rem(10);
      align-items: center;

      &__label {
        font-size: 0.8rem;
      }
    }
  }
}
</style>
