/*
 * BUTTONS STYLE AND MIXINS.
 *
 * All styles relating to buttons.
 *
*/
%button,
.btn-primary {
    border-color: transparent;
    background-color: $primary;
    color: $white;
    font-size: 1.1rem;
    padding: px2rem(20) px2rem(40);
    min-width: px2rem(150);
    min-height: $inputHeight;
    border-radius: px2rem(5);

    @include respond((max:$md-break)) {
        max-width: none;
        width: 100%;
     }
}