/*
 * HELPERS
 *
 * Abstract, functions and mixin
 * that are globally.
 *
*/


/// Converting px to rem.
/// $size-in-px: unitless or px.
$default-font-size: 16;

@function px2rem($size-in-px) {
    @if (unitless($size-in-px)) {
        $size-in-px: $size-in-px * 1px;
    }
    $rem-size: $size-in-px / ($default-font-size * 1px);
    @return #{$rem-size}rem;
}

/// Breakpoint related.
@mixin respond($map) {
    $string: "only screen";

    @if (map-get($map, min)) {
        $min: map-get($map, min);
        $string: "#{$string} and (min-width: #{$min})";
    }

    @if (map-get($map, max)) {
        $max: map-get($map, max);
        $string: "#{$string} and (max-width: #{$max})";
    }

    @media #{$string}{
        @content;
    }
}

/// Creates media queries for CSS properties. 
/// @param {map} - Map of breakpoints and their properties
@mixin apply-responsive-properties($responsive-properties) {
    $breakpoints: (
        "xxxxl": $viewport-max-width,
        "xxxl": $xxxxl-break,
        "xxl": $xxxl-break,
        "xl": $xxl-break,
        "tablet": $lg-break,
        "mobile": $md-break,
        "s-mobile": $sm-break
    );

    @each $breakpoint, $properties in $responsive-properties {
        @if map_has_key($breakpoints, $breakpoint) {

            @include respond((max: map_get($breakpoints, $breakpoint))) {
                @each $name, $value in $properties {
                    #{$name}: $value
                }
            }

        }
    }
}

@mixin ie-only() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

/// Creates standard shadow boxed card.
/// @param {$shadowType} - Shadows dimensions.
@mixin shadowBoxed($shadowType) {
   padding: px2rem(20);
   box-shadow: $shadowType;
   border-radius: px2rem(10);

   @include respond((max:$lg-break)) {
       padding: px2rem(10);
       border-radius: px2rem(5);
   }
}