/*
 * VARIABLES
 *
 * Here goes all my scss variables 
 * shared between components.
 *
*/

// Colours.
$primary: #0093E9;
$primaryLight: #f1fbff;
$secondary:#fca311;
$baseGrey:#e5e5e5;
$black: #000;
$white: #fff;

$grey-200: rgb(184, 184, 184);
$grey-400: rgb(104, 104, 104);
$grey-800: rgb(24, 24, 24);

// Viewport: use with MAX media query.
$xs-break: 360px;
$sm-break: 414px;
$md-break: 600px;
$lg-break: 834px;
$xl-break: 1024px;
$xxl-break: 1280px;
$xxxl-break: 1440px;
$xxxxl-break: 1680px;

// Viewport: use with MAX media query.
$xs-break-min: 361px;
$sm-break-min: 415px;
$md-break-min: 601px;
$lg-break-min: 835px;
$xl-break-min: 1025px;
$xxl-break-min: 1281px;
$xxxl-break-min: 1441px;
$xxxxl-break-min: 1681px;


// Shadows.

$shadow-sm:	0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md:	0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg:	 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
$shadow-none: 0 0 #0000;

// Form.
$inputHeight: 4rem;
$error: #e44141;