<template>
  <div class="vehiclemot">

    <img alt="car illustration" src="../../assets/car.svg" class="vehiclemot__image">

    <div class="vehiclemot__intro">
      <div class="vehiclemot__title">
        <h1>{{ title }}</h1>
      </div>
    </div>
    
    <div class="vehiclemot__form">
      <fieldset>
        <input type="text" placeholder="Insert your registration number" v-model="registrationNumber" />
      </fieldset>
      <button @click="fetchAPIData" class="btn-primary">Search</button>
    </div>

    <div v-if="message != ''" class="vehiclemot__messages">
      <i class="fas fa-comment-alt"></i>
      <p>{{ message }}</p>
    </div>

    <div v-if="responseAvailable" class="vehiclemot__results">
      <ResultCard :result='vehicolData' />
    </div>

  </div>
</template>

<script>
import ResultCard from '../02-molecules/ResultCard.vue'

export default {
  name: 'VehicleMot',

  components: {
    ResultCard
  },

  props: {
    title: String
  },

  data () {
    return {
      // Example registrationNumber: 'GL14YMS'.
      registrationNumber: '',
      vehicolData: {},
      defaultErrorMessage: 'We are sorry, but the registration number is invalid. Please check the number or contact us directly.',

      result: '',
      message: '',
      responseAvailable: false,
      
      baseUrl: 'https://beta.check-mot.service.gov.uk/trade/vehicles/mot-tests?registration=',
      apiKey: 'HybH0yr4Hj3eEgybT9pkn6B7PA769YDa8kt4wKdp'
    }
  },

  methods: {
    fetchAPIData() {
      this.responseAvailable = false;

      fetch ( this.baseUrl + this.registrationNumber, {
          method: "get",
          credentials: 'include',
          headers: new Headers({
            'Content-Type': 'application/json',
            "Accept": "application/json+v6",
            "x-api-key": this.apiKey
          })
      })
      .then (response => { 
          if (response.ok) {
              return response.json();
          } else {
              // Print user error message.
              this.message = this.defaultErrorMessage;
              console.log(this.errorMessage);
          }                
      })
      .then (response => {
          let result = response[0]; 
          
          // Check for failed MOT tests.
          let filteredTest = result.motTests.filter(test => {    
            const failedValue = 'FAILED';  
            return test.testResult === failedValue;
          });

          // Build result data.
          let fetchedVehicleData = {
              make: result.make,
              model: result.model,
              colour: result.primaryColour,
              // Check if there is a test and take the latest.
              motExpDate: result.motTests[0].expiryDate ? result.motTests[0].expiryDate : 'No test',
              nFailedTests: filteredTest.length
          };

          this.vehicolData = fetchedVehicleData;

          // Set response availability status.
          this.message = ''; 
          this.responseAvailable = true;
      })
      .catch (err => {
          console.log(err);
      });
    }
  }
}
</script>

<style scoped lang="scss">

.vehiclemot {
  max-width: px2rem(500);
  margin: 0 auto;
  background-image: linear-gradient(181deg, $primary 0%, $primaryLight 120%);
  padding: px2rem(60) 6% px2rem(80) 6%;
  border-radius: px2rem(30);
  box-shadow: $shadow-lg;
  position: relative;
  overflow: hidden;


  &__image {
    display: block;
    width: 100%;
    position: relative;
    left: -7rem;
    margin-top: -8rem;
    
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: $white;

    @include respond((max:$md-break)) {
       font-size: 1.3rem;
   }

    * {
      margin: 0;
    }
  }

  &__intro {
    color: $white;
  }

  &__form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: px2rem(16);
    margin-top: 2rem;

    @include respond((max:$md-break)) {
       flex-direction: column;
       align-items: flex-start;
    }

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;
    }

    input {
      all: unset;
      width: 100%;
      height: $inputHeight;
      border-radius: px2rem(5);
      min-height: px2rem(30);
      border: px2rem(2) solid $primary;
      background-color: $white;
      padding: px2rem(20);
      box-shadow: $shadow-lg;
      box-sizing: border-box;
    }

    label {
      text-align:left;
      display: inline-block;
      margin-bottom: 1rem;
      width: auto;
    }
  }

  &__messages {
    margin-top: 1rem;
    background-color: $error;
    color: $white;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    text-align:left;
    padding: px2rem(40);
    border-radius: px2rem(10);

   @include respond((max:$lg-break)) {
       padding: px2rem(20);
       border-radius: px2rem(5);
   }


    p {
      padding: 0;
      margin: 0;
    }

    i {
      margin-top: 0.4rem;
    }
  }
}
</style>
