<template>
<link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
        crossorigin="anonymous">
  <img alt="logo" src="./assets/firma_b.png" class="logo">
  <VehicleMot title="Vehicle MOT"/>
</template>

<script>
import VehicleMot from './components/04-pages/VehicleMot.vue'

export default {
  name: 'App',
  components: {
    VehicleMot
  }
}
</script>

<style lang="scss">
body {
  background-color: $white;
  padding: px2rem(40) 10%;
  position: relative;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo {
  position: absolute;
  width: px2rem(100);
  top: px2rem(20);
  left: 10%;
}

</style>
